@using Microsoft.AspNetCore.Http;
@model Towns.Models.Views.SimpleLocation
@{
    ViewData["Title"] = "Index";
}

<html>
<body>






    <script>


        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            }
        }

        function showPosition(position) {

            document.getElementById("lat").value = position.coords.latitude;
            document.getElementById("long").value = position.coords.longitude;

            document.forms[0].submit();
        }
        window.onload = getLocation;
    </script>


    <form asp-controller="SimpleLoc" asp-action="Index">
        

                    <input asp-for="DDLatitude" id="lat" hidden/>
                
                    <input asp-for="DDLongitude" id="long" hidden/>

                    <input type="submit" value="Find Town" hidden/>
  
    </form>
    
</body>
</html>

