@model Towns.Models.Views.TownViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron">
    <h2>I @Model.Name bor @Model.Population pers</h2>
</div>
<div class="container">
    ID = @Model.ID

</div>
