@model Towns.Models.Views.ShowTown
@{
    ViewData["Title"] = "Index";
}
@foreach (var town in Model.allTowns)
{
    <h2>@town.Name has a population of @town.Population</h2>
}
<h2>I Malme bor 341 457 pers</h2>


